.create-password-body.container
    .create-password-body__inner 
        h1 Создание нового пароля
        form(data-form="create-password")
            .form__input-wrapper
                input(
                    type="password" 
                    placeholder="Новый пароль"
                    data-form-password 
                    data-form-password-check
                    minlength="8" 
                    data-length-error="Минимальное кол-во символов: 8"
                    data-letters-error="Слабый пароль. Используйте буквы."
                    data-numbers-error="Слабый пароль. Используйте цифры."
                ).form__input.validate 
                span.form__error
            span Пароль должен содежать не&nbsp;менее 8&nbsp;символов, а&nbsp;также, латинские буквы и&nbsp;цифры.
            .form__input-wrapper
                input(
                    type="password" 
                    data-form-password-repeat 
                    placeholder="Повторите пароль" 
                    data-password-error="Пароли не совпадают"
                ).form__input.validate
                span.form__error
            +btn({
                text: 'Отправить'
            })(type="submit" data-submit).btn--fill